name: CI

on:
  push:
    branches:
      - main
    tags:
      - 'v*'
    paths:
      - '.github/**'
      - 'wsidata/**'
      - 'tests/**'
      - 'pyproject.toml'
  pull_request:
    paths:
      - '.github/**'
      - 'wsidata/**'
      - 'tests/**'
      - 'pyproject.toml'

jobs:
  Test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        python-version: ['3.11', '3.12', '3.13', '3.14']

    runs-on: ${{ matrix.os }}
    defaults:
      run:
        shell: bash -el {0}
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: ${{ matrix.python-version }}
          enable-cache: true
          cache-dependency-glob: "uv.lock"
      - name: Install project
        run: uv sync --dev --group readers
      - name: Tests
        run: uv run task test

  Upload_to_pypi:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
    steps:
      - uses: actions/checkout@v4
      - name: Setup uv
        uses: astral-sh/setup-uv@v5
        with:
          python-version: 3.12
          enable-cache: true
          cache-dependency-glob: "uv.lock"

      - name: Publish to test pypi
        run: |
          uv build
          uv publish --publish-url https://test.pypi.org/legacy/ || exit 0

      - name: Publish to pypi
        if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags/v')
        run: |
          uv build
          uv publish